doctype 
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title 404
        link(rel="shortcut icon", href="../img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="../css/demo.css")
        script(src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js")
    body 
        div(class="main")
            h1 页面未找到