doctype 
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title 首页
        link(rel="shortcut icon", href="../img/favicon.ico", type="image/x-icon")
        script(src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js") 
        link(rel="stylesheet", href="../css/demo.css")
    body 
        div(class="main")
            a(href="/players" id="test" type="button") PLAYERS