doctype 
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        title PLAYERS
        link(rel="shortcut icon", href="../img/favicon.ico", type="image/x-icon")
        script(src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js") 
        link(rel="stylesheet", href="../css/demo.css")
        script(src="../js/demo.js") 
    body 
        div(class="main")